<header>
    <nav>
        <div class="name"><a href="/">My Blog</a></div>
        <div class="links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
               
            </ul>
        </div>
    </nav>
</header>

<style> 
 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    gap: 45rem;
 }

.name {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.3rem;
 }

 ul {
    display: flex;
    list-style: none;
    gap: 3.5rem;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
 }

 a {
    text-decoration: none;
    color: black;
 }

</style>