---
import NavBar from "../components/navBar.astro";
import '../../styles/global.css'

export interface myProps {
    title: string
}

const {title} = Astro.props as myProps;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>
    <NavBar/>
    <slot/>
</body>
</html>

<style>
    body {
        background-color: azure;
    }
</style>
